.app-container {
  /* TODO: maybe switch to using sass/stylus later so as to store colors and
  dimensions (e.g navbar-width) in variables?
  */
  display: flex;
  background-color: #1F1B33;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@keyframes navbar-expand-right {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

@keyframes navbar-fold-left {
  from {
    width: 50%;
  }

  to {
    width: 0;
  }
}

.navbar-container {
  width: 0;
}

.app-container.has-once-toggled-navbar .navbar-container {
  animation: navbar-fold-left .75s ease-in 0s 1;
}

.app-container.visible-navbar > .navbar-container {
  width: 50%;
  animation: navbar-expand-right .75s ease-in 0s 1;
}

.main-container {
  flex-grow: 1;
  background-color: #ffffff;
  height: 100%;
  transform-origin: top left;
  cursor: pointer;
}

@keyframes rotate-main-container-right {
  from {
    margin-top: 0;
    transform: rotate(0);
  }

  to {
    margin-top: 20px;
    transform: rotate(-5deg);
  }
}

@keyframes unrotate-main-container {
  0% {
    margin-top: 20px;
    transform: rotate(-5deg);
  }

  50% {
    margin-top: 0;
    transform: rotate(0);
  }
}

.app-container.has-once-toggled-navbar:not(.visible-navbar) > main.main-container {
  margin-top: 0;
  transform: rotate(0);
  animation: unrotate-main-container .75s ease-in 0s 1;
}

.app-container.visible-navbar > main.main-container {
  margin-top: 20px;
  transform: rotate(-5deg);
  animation: rotate-main-container-right .75s ease-in 0s 1;
}
